<div class="padf-print-button">
    <a class="btn btn-primary" href="/entity_pdf/node/{{ nid }}/pdf">
        <img src="/modules/custom/pdf_print_button/assets/images/pdf-print.png" width="50" />
    </a>
</div>
